
[submodule "subprojects/libdeflate"]
	path = subprojects/libdeflate
	url = https://github.com/ebiggers/libdeflate
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw
[submodule "subprojects/glm"]
	path = subprojects/glm
	url = https://github.com/g-truc/glm.git
[submodule "subprojects/imgui"]
	path = subprojects/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "subprojects/pytorch_scatter"]
	path = subprojects/pytorch_scatter
	url = https://github.com/guanshaoheng/pytorch_scatter.git 

[submodule "subprojects/fmt"]
	path = subprojects/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "subprojects/pybind11"]
	path = subprojects/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "subprojects/eigen"]
	path = subprojects/eigen
	url = https://gitlab.com/libeigen/eigen.git
