.vscode/
app/
ascii.dSYM/
build_cmake/
builddir/
.DS_Store

python/

subprojects/eigen
subprojects/glfw
subprojects/glm
subprojects/imgui
subprojects/libdeflate
subprojects/libtorch
subprojects/OpenBLAS
subprojects/pytorch_scatter


PretextView_ScreenShot.png

imgui.ini

libtorch-macos-arm64-2.5.0.zip

meson.original copy.build

todos.md

